<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WebGL Demo</title>

    <link rel="stylesheet" href="../webgl.css" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

  </head>

  <body>

    <header>  </header>
    
    <main>
      <div class="container">
        <div class="row">
          <canvas id="glcanvas" width='1200' height='1200'></canvas>
        </div>  
      </div>  
    </main>
    
    <footer>
      Author =>Shubh Maheshwari
    </footer>

  </body>

  <script src="gl-matrix.js"></script>

  <script src="webgl-demo.js"></script>
</html>
